$checked-color: #2196f3;
$checkbox-hover: #ccc;

.form h3,
.form p {
    text-align: center;
    text-transform: uppercase;
}

.content__check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            ~ {
                .checkmark {
                    background-color: $checked-color;
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
    &:hover {
        input {
            ~ {
                .checkmark {
                    background-color: $checkbox-hover;
                }
            }
        }
    }
    .checkmark {
        &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}
.collapse-item {
    margin-bottom: 1rem;
}
.collapse__content {
    display: none;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(185, 185, 185);
    margin-top: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input[type="file"].input__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label.label__input_file {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106ba0;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
}

label.label__input_file {
    overflow-wrap: anywhere;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    label.label__input_file {
        overflow-wrap: anywhere;
    }
}
